@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;500;600;700&family=Patua+One&display=swap');

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body {
  background-color: #141414;
  
}

header {
  padding: 20px;
  text-align: center;
  background-color: #102a44;

}
form input {
  height: 50px;
  margin-left: 20px;
  outline: none;
  border: none;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
}
form {
  border-radius: 8px;
}
form input:focus {
  outline: none;
  border: none;
  border-color: #162436;
  box-shadow: 0 0 40px #4676af;
}
form label {
  color: #5597da;
  text-transform: uppercase;
  font-weight: 700;
}
main {
  margin: 0px 20px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #858181;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
  background-color: #222;
  padding: 8px 5px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
  
}

.socials img {
  width: 20px;
}


/* MOVIE CARDS */
.popular-card,
.top-rated-card,
.upcoming-card {
  transition: .2s ease-in-out;
}
.popular-card:hover,
.top-rated-card:hover,
.upcoming-card:hover {
  transform: scale(1.3);
  cursor: pointer;

  
  
}
.popular-card img,
.top-rated-card img,
.upcoming-card img  {
  width: 150px;
  border-radius: 6px;
  height: 100%;
  

}

